.img_top{
  margin-left: -8px;
  width: 101.2%;
  height: 573px;
}

.h2-1{
  margin-top: -249.08px;
margin-bottom: -249.08px;
text-align: center;
font-size: 45px;
color: white;
}


.link1{
  text-decoration: none;
  color: white;
  display: block ruby;
  text-align: center;
  margin-top: 262px;

}

.point{
  color: white;
display: block ruby;
text-align: center;
margin-top: -40px;
margin-left: 8px;
font-size: 30px;
}


.link2{
  text-decoration: none;
  color: white;
  display: block ruby;
  text-align: center;
  margin-left: 111px;
  margin-top: -25px;
  }
  

  @media screen and (max-width: 748px) {
      .text {
          margin-top: 68px;
      }
    }


    @media screen and (max-width: 556px) {
      .text {
          margin-top: 100px;
      }
    }


    @media screen and (max-width: 436px) {
      .text {
          margin-top: 123px;
      }
    }


    @media screen and (max-width: 344px) {
      .text {
          margin-top: 135px;
      }
    }


    @media screen and (max-width: 320px) {
      .h2-1 {
          margin-top: -218.08px;
          font-size: 25px;
      }
    }


    @media screen and (max-width: 320px) {
      .link1 {
          margin-top: 252px;
          font-size: 14px;
      }
    }


    @media screen and (max-width: 1302px) {
      .img_top {
          width: 101.3%;
      }
    }


    @media screen and (max-width: 1192px) {
      .img_top {
          width: 101.4%;
      }
    }


    @media screen and (max-width: 1120px) {
      .img_top {
          width: 101.5%;
      }
    }


    @media screen and (max-width: 1026px) {
      .img_top {
          width: 101.6%;
      }
    }


    @media screen and (max-width: 938px) {
      .img_top {
          width: 101.7%;
      }
    }



    @media screen and (max-width: 890px) {
      .img_top {
          width: 101.8%;
      }
    }


    @media screen and (max-width: 824px) {
      .img_top {
          width: 102%;
      }
    }


    @media screen and (max-width: 694) {
      .img_top {
          width: 103%;
      }
    }


    body{
      background-color: #f5efee;
    }


    .img_1{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      margin-top: -294px;
    }


    .all_pragraph{
      padding: 10px 10px 10px 10px;
      margin-top: 810px;
      margin-bottom: -169px;
  margin-left: 165px;
      font-size: 18px;
    }

    .all_pragraph p{
      letter-spacing: -.5px;
      line-height: 2.9;
color: #7a7a7a;
    }



    @media screen and (max-width: 1094px) {
      .all_pragraph{
        margin-left: 88px;
        margin-top: 780px;
      }
    }


    @media screen and (max-width: 992px) {
      .all_pragraph{
        padding-top: 0px;
        margin-left: 61px;
      }
    }



    @media screen and (max-width: 786px) {
      .img_1{
        margin-top: -221px;
      }
    }


    @media screen and (max-width: 584px) {
      .img_1{
        top: 680.383px;
      }
    }


@media screen and (max-width: 584px) {
      .all_pragraph{
        margin-top: 482px;
        margin-left: 42px;
      }
    }


    @media screen and (max-width: 420px) {
      .img_1{
        top: 584.383px;
      }
    }


@media screen and (max-width: 420px) {
      .all_pragraph{
        margin-top: 352px;
        margin-left: 24px;        
      }
    }




/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5efee;
  font-family: "Montserrat", sans-serif;
}

ul,li {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1025px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding-bottom: 30px;
}

.header .logo{
  margin-left: -53px;
  width: 90%;
  margin-top: 33px;
}

/*=============== NAV ===============*/
.nav {
  height: 3.5rem;
}

.nav__menu{
  margin-right: 60px;
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: #ffffff;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 600;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-right: 37px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: #3b9358;
    padding-top: 1rem;
  }
  .header .logo{
    margin-left: 0;
    width: 130px;
    margin-top: 35px;
  }
}

.nav__link {
  color: #a19999;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: #3b9358;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 5.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #fff;
  background-color: #3b9358;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 600;
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: #2a7242;
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: #3b9358;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 2rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
    transition: 0.3s;
  }
  .nav__link:hover {
    background-color: transparent;
    border-bottom: 4px solid #3b9358;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}





.footer {
background-color: #3b9358;
color: #fff;
padding: 40px 20px;
margin-top: 285px;
}

.footer-top {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding-bottom: 20px;
border-bottom: 1px solid #444;
}

.footer-section {
flex: 1;
min-width: 200px;
margin-bottom: 20px;
}

.footer-section h3 {
font-size: 1.2rem;
margin-bottom: 15px;
color: #ffffff;
}

.footer-section p,
.footer-section ul {
margin: 0;
padding: 0;
list-style: none;
}

.footer-section p{
margin-bottom: 30px;
}

.footer-section ul li {
margin-bottom: 30px;
}

.footer-section ul li a {
color: #fff;
text-decoration: none;
transition: color 0.3s;
}

.footer-section ul li a:hover{
color: #157736;
}

.footer .active{
color: #157736;

}

.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 20px auto 0;
padding-top: 20px;
font-size: 0.9rem;
}

.footer-bottom p {
margin: 0;
}

@media (max-width: 768px) {
.footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-section {
    width: 100%;
    text-align: center;
}

.footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
}

.footer svg{
width: 20px;
color: #fff;
padding-right: 10px;
}
.footer .social-links a {
display: inline-block;
height: 33px;
width: 33px;
background-color: rgba(255,255,255,0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

@media (max-width: 1091px) {
.nav__link{
color: #fff;
}
}


.floating-button {
position: fixed;
bottom: 20px;
right: 20px;
width: 60px;
height: 60px;
background-color: white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
cursor: pointer;
font-size: 30px;
color: #3b9358;
}

.floating-button img {
width: 40px;
height: 40px;
}

/* القائمة التي تظهر بعد الضغط */
.contact-options {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
flex-direction: column;
align-items: center;
gap: 10px;
}

.option, .close-button {
width: 60px;
height: 60px;
background-color: white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
cursor: pointer;
font-size: 30px;
color: #3b9358;
}

.option img, .close-button img {
width: 40px;
height: 40px;
}

.contact-options.active {
display: flex;
}




@media screen and (max-width: 536px) {
.h2-1 {
  font-size: 30px;
}
}



@media screen and (max-width: 460px) {
.h2-1 {
  margin-top: -226.08px;
  font-size: 23px;
}
}


@media screen and (max-width: 460px) {
.text {
  font-size: 13px;
    margin-top: 57px;
}
}


@media screen and (max-width: 460px) {
.link1 {
  margin-top: 252px;
}
}



@media screen and (max-width: 460px) {
.link2 {
  margin-top: -21px;
}
}



@media screen and (max-width: 400px) {
.img_top {
  height: 247px;
}
}


@media screen and (max-width: 400px) {
.h2-1 {
  
  font-size: 45px;
}
}



/* new res */

@media screen and (max-width: 468px) {
.img_top {
height: 300px;
}
}




/* new res */

@media screen and (max-width: 468px) {
.img_top {
height: 300px;
}
}



@media screen and (max-width: 584px) {
.img_1 {
  top: 1047.383px;
}
}



@media screen and (max-width: 468px) {
.img_1 {
  top: 820.38px;
}
}


@media screen and (max-width: 420px) {
.img_1 {
  top: 700.383px;
}
}


.div_img_p{
padding-top: 0px;
padding-right: 137px;
padding-left: 20px;
font-size: 20px;
}

.all_pragraph p{
line-height: 2;
}

@font-face {
  font-family: 'MyFont1';
  src: url('../../../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyFont2";
  src: url('../../../fonts/Rotis-SansPro.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'MyFont1', sans-serif;
}

header{
  font-family: "MyFont2", sans-serif;
}


@media (min-width: 1308px) {
  .all_pragraph {
        padding-top: 70px;
  }
}


.all_pragraph{
font-family: open sans;
  direction: rtl;
  width: 76%;
}
  .menu-icon {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: #333;
    transition: 0.4s;
}

/* عندما يكون الزر مفعلاً (يظهر كـ ×) */
.menu-icon.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.for-small{
  display: none;
}

@media  (max-width: 1117px) {
  .for-small{
    display: block;
    color: #a19999;
    position: fixed;
    left: 170px;
    top: 9px;
  }
  .nav__link-head:hover{
    background-color: #ffffff00;
  }
}

@media  (max-width: 1117px) {
  .for-big{
    display: none;
  }
}


header{
  direction: rtl;
}

@media screen and (min-width: 1118px) {
  
  header{
    white-space: nowrap;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 0rem;
  }

  .dropdown__link, .dropdown__sublink {
    padding-inline: 0rem 0rem;
  }  

.dropdown__link, .dropdown__sublink {
  padding: 0rem 0rem 0rem 0rem;
}

.dropdown__link, .dropdown__sublink {
  padding: 1rem 0.3rem 1rem 0.3rem;
}
}
@media screen and (max-width: 890px) {

.submit-responsive {
  margin-right: 38px;
}
}
